#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  text-align: center;
}

.status-bar {
  background-color: #ff9d00;
  color: #1e1e1e;
}

.navigation-bar {
  background-color: #1e1e1e;
}

.navigation-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d83731;
  margin: 0 32px;
}

.company-logo {
  color: #d83731;
}

.company-logo:hover {
  color: #aa2a26;
}

.article-card {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 400px;
  border-radius: 12px;
  margin: 12px 12px;
  padding: 12px;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-picture {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  border: 1px solid #000000;
}

.user-page-profile-picture {
  height: 96px;
  width: 96px;
  border-radius: 12px;
  border: 1px solid #000000;
}

.article-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.comment {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #535353;
  padding-top: 12px;
}

.button-delete {
  background-color: #a51b16;
  margin-bottom: 24px;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dropdown-pill {
  text-align: center !important;
  border-radius: 40px;
  padding: 12px;
  width: 206px;
  appearance: none;
  margin-bottom: 24px;
  font-size: 16px;
}

.pill {
  border-radius: 12px;
  padding: 12px;
  background-color: #0f0f0f;
  margin-bottom: 24px;
}

.pill-upvote {
  display: flex;
  border-radius: 12px;
  background-color: #03752b;
  margin-top: 24px;
}

.pill-comment {
  display: flex;
  border-radius: 12px;
  padding: 12px;
  background-color: #0f0f0f;
  margin-bottom: 24px;
}

.home-button {
  background-color: red;
  padding: 12px;
  color: #ffffff;
  border-radius: 24px;
}

.home-button:hover {
  background-color: rgba(255, 0, 0, 0.71);
  padding: 12px;
  color: #ffffff;
  border-radius: 24px;
}

.article-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  gap: 20px;
  border-bottom: 1px solid #aeaeae24;
  padding-bottom: 12px;
  filter: brightness(60%);
}

.user-profile-card {
  text-align: center;
  background-color: #1e1e1e;
  color: #ffffff;
  width: 400px;
  border-radius: 12px;
  margin: 12px 12px;
  padding: 24px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-card-top {
  display: flex;
  gap: 12px;
  align-items: center;
  color: rgb(90, 90, 90);
}

.dim {
  filter: brightness(60%);
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  text-align: left;
}

.comment-field {
  display: flex;
  width: 94%;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 12px;
}

.user-card-top-header {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #aeaeae24;
  color: rgb(90, 90, 90);
  padding-bottom: 12px;
}

.article-info-creator {
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
}

.not-found-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
