#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.status-bar {
  background-color: #ff9d00;
  color: #1e1e1e;
}

.navigation-bar {
  background-color: #1e1e1e;
}

.navigation-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d83731;
  margin: 0 32px;
}

.company-logo {
  color: #d83731;
}

.company-logo:hover {
  color: #aa2a26;
}

.article-card {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 400px;
  border-radius: 12px;
  margin: 12px 12px;
  padding: 12px;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-picture {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  border: 1px solid #000000;
}

.article-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.comment {
  border-top: 1px solid #aeaeae;
  padding: 12px;
}

.button-delete {
  background-color: #ff0800;
}

.article-info {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dropdown-pill {
  text-align: center;
  border-radius: 20px;
  padding: 12px;
  width: 206px;
  appearance: none;
  margin-bottom: 24px;
}

.pill {
  border-radius: 12px;
  padding: 12px;
  background-color: #0f0f0f;
}

.article-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  gap: 20px;
  border-bottom: 1px solid #aeaeae24;
  padding-bottom: 12px;
  filter: brightness(60%);
}

.article-title {
  font-size: 24px;
}
